# игнорирование tmp
tmp/
# игнорирование файлов, заканчивающиеся суффиксами_old
*.*_old
# игнорирование файлов, заканчивающиеся суффиксами _backup
*.*_backup
# будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db
# будут игнорироваться все файлы и каталоги .DS_Store
# вне зависимости от того, в каком каталоге они находятся
.DS_Store